* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

main {

    .bg-circle {
        border-radius: 50%;
        height: 395px;
        width: 395px;
        background-color: $bg-light-blue;
        position: absolute;
        top: -20vh;
        left: 38.5%;
        z-index: -1;
        margin: 0;

        // RESPONSIVE
        @media (min-width: 2335px) and (max-width: 2512px) {
            left: 43.5%;
        }

        @media (min-width: 1984px) and (max-width: 2334px) {
            left: 40.5%;
        }

        @media (min-width: 1575px) and (max-width: 1916px) {
            left: 35.5%;
        }

        @media (min-width: 1475px) and (max-width: 1574px) {
            left: 34.5%;
        }

        @media (min-width: 1300px) and (max-width: 1474px) {
            left: 31.5%;
        }

        @media (min-width: 1175px) and (max-width: 1299px) {
            left: 32.5%;
        }

        @media (min-width: 992px) and (max-width: 1174px) {
            left: 34.5%;
        }

        @media (min-width: 769px) and (max-width: 991px) {
            left: 69vh;
        }

        @media (max-width: 768px) {
            left: 42vh;
        }
    }
}